{% extends 'tm_app/base.html' %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block content %}
<legend class="border-bottom mb-4">Home</legend>
<p>Welcome to PineApple Task Manager – Your Essential Tool for Simplified Task Management!</p>

<p>At PineApple, we understand the demands of modern work environments, and we're here to make your task management experience seamless and effective. Our Task Manager is designed with simplicity and productivity in mind, ensuring you can effortlessly organize, prioritize, and collaborate on tasks without unnecessary complications.</p>
    
<p><strong>Key Features:</strong></p>

<ol>
    <li><strong>Intuitive Interface:</strong> Enjoy a clean and user-friendly design, making it easy for you to navigate and manage your tasks efficiently.</li>
    <li><strong>Task Organization:</strong> Create, edit, and categorize tasks effortlessly, allowing you to stay organized and focused on what matters most.</li>
    <li><strong>Deadline Tracking:</strong> Never miss a deadline again! Set due dates for your tasks and receive timely reminders to keep you on track.</li>
    <li><strong>Team Collaboration:</strong> Enhance teamwork with shared projects and easy communication, fostering collaboration across your organization.</li>
</ol>

<p><strong>Why Use PineApple Task Manager?</strong></p>

<ul>
    <li><strong>Simplicity at its Core:</strong> We believe in keeping things simple. PineApple Task Manager provides the essential features you need without overwhelming complexity.</li>
    <li><strong>Accessibility Anytime, Anywhere:</strong> Whether you're in the office or on the go, access your tasks from any device with our responsive and mobile-friendly design.</li>
    <li><strong>Reliable Performance:</strong>PineApple Task Manager is built for stability and reliability, ensuring a consistent experience for all users.</li>
</ul>

<p>While we may not have progress monitoring and file integration at the moment, we are constantly evolving to meet the needs of our users. Your feedback is crucial in shaping the future of PineApple Task Manager.</p>
    
<p>Start your journey towards efficient task management with PineApple today. Your success begins with organized tasks!</p>
{% endblock %}